#######################################################################################
# Book settings
title                       : "ancpBIDS documentation"
author                      : Alexis Olguin Baxman
copyright                   : "2025"
logo                        : "static/logo.png"  # Path relative to source folder

#######################################################################################
# HTML-specific settings
html:
  home_page_in_navbar       : true  # Whether to include your home page in the left Navigation Bar
  use_edit_page_button      : True  # Whether to add an "edit this page" button to pages. If `true`, repository information in repository: must be filled in
  use_repository_button     : True  # Whether to add a link to your repository button
  use_issues_button         : True  # Whether to add an "open an issue" butto

#######################################################################################

repository:
  url                      : https://github.com/ANCPLabOldenburg/ancpbids_documentation
  path_to_book              :  "."
  branch                    : main  # Which branch of the repository should be used when creating links
